@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #f5f5f5;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 200px;
    margin-left: 200px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-heading {
        color: #0E0E0E;
        font-size: 32px;
        font-weight: bold;
    }

}

.header-btn {
    font-size: 18px;
    color: #006A50;
    background-color: #F5F5F5;
    border: 1px solid #006A50;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    transform: scale(0.9);
    transition: 0.3s ease;

}

.header-btn:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.0);
}

#i-btn {
    color: #0E0E0E;
    margin-left: 10px;
    font-weight: bolder;
    color: #09A15C;
    font-size: 18px;
}


.img-banner {
    display: flex;
    align-items: center;
    /* background-color: #C6E4D6; */
    border-radius: 8px;
    background: linear-gradient(305deg, #F03838, #1A3806);
}

.img-banner-heading {
    font-size: 25px;
    padding-left: 35px;
    letter-spacing: 2px;
    word-spacing: 11px;

}

.b {
    color: red;
}

.a {
    color: green;
}

.img-banner-head {
    font-size: 38px;
    padding-left: 35px;
    font-weight: 700;
    color: #C6E4D6;
}

.img-banner-btn {
    font-weight: 500;
    padding: 15px 35px;
    margin-left: 35px;
    margin-top: 35px;
    background-color: #573815;
    font-size: 16px;
    border-radius: 10px 2px;
    transform: scale(1.0);
    transition: 0.3s ease-in;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bolder;
    color: #C6E4D6;

}

.img-banner-btn:hover {
    background-color: #C6E4D6;
    color: #0E0E0E;
    transform: scale(0.9);
    color: #0E0E0E;
    /* font-size: 18px; */
    transition: 0.3s ease-in;



}


.im-card {
    display: flex;
    gap: 15px;
    justify-content: space-around;

}

.cardstyle {
    width: 202px;
    height: 205px;
    border: 1px solid #006A50;
    border-radius: 5px;
    padding: 20px;
    background-color: #ffffff;
    transform: scale(1.0);
    transition: 0.3s ease-in-out;
    margin-top: 30px;
}

.cardstyle:hover {
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}


.img-heading {
    text-align: center;
    font-size: 25px;

}

.img-main {
    margin: 0 auto;
    display: flex;
}

.img-para {
    text-align: center;
    color: #0E0E0E;
    font-weight: 400;
    padding-bottom: 10px;
}


.vision-sec {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 50px;
}



.box-sec {
    width: 300px;
    height: 250px;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 8px;
    background-color: #83a4c7;
    transform: scale(1.0);
    transition: all 0.2s ease-in;
}

.box-sec:hover,
.box-sec2:hover,
.box-sec3:hover {
    transform: scale(0.9);
    transition: all 0.2s ease-in;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    /* transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
              box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
} */
}

.box-sec2 {
    width: 300px;
    height: 250px;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 8px;
    background-color: #C6E4D6;
    transform: scale(1.0);
    transition: all 0.2s ease-in;
}

.box-sec3 {
    width: 300px;
    height: 250px;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 8px;
    background-color: #F7EBCF;
    transform: scale(1.0);
    transition: all 0.1s ease-in;
}

.box-btn {
    font-size: 18px;
    padding: 12px 25px;
    border-radius: 1px 30px;
    border: 1px solid gainsboro;
    font-weight: bold;
    margin-top: 30px;
    /* background-color: white; */
    opacity: 0.9;
    transform: scale(1.0);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: #7c3aed;
    color: #F5F5F5;
}

.box-btn:hover {
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
    background-color: #6d28d9;
}

.box-para {
    font-size: 16px;

    font-weight: 300;
}

.box-img-heading {
    font-size: 24px;
    font-weight: 700;
}

.vision-heading {
    font-size: 24px;
    margin-top: 80px;
}

.vision-para {
    font-size: 16px;
    font-weight: 500;
}

.section4 {
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    margin-top: 100px;
    margin-bottom: 30px;
}

.sec4-para {
    font-size: 16px;
    padding-top: 22px;
    margin-bottom: 30px;
}

.dr-name {
    font-size: 20px;
    font-weight: 600;

}

.dr-infor {
    margin-top: -15px;
    font-weight: 400;

}

.opinions-heading {
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
    margin: 50px auto;

}

.opinion-section {
    background-color: #F5F5F5;
}

.table-sec {
    border: 1px solid greenyellow;
    border-collapse: collapse;
    width: 100%;


}

.table-section,
th,
.table-section,
td {
    border: 1px solid green;
    padding: 20px;
    border-collapse: collapse;
    text-transform: capitalize;
}

.table-headers {
    background-color: #c6e4d6;
}

.for-bg {
    background-color: #ffffff;
}

.select-for {
    background-color: #c6e4d6;
    padding: 8px 10px;
    border-radius: 5px;
}



/* ekhan theke news option */

.news-heading{
    font-size: 35px;
    margin-top: 80px;
   text-transform: capitalize;
}

.news-para{
    margin-top: -10px;
    font-size: 18px;
}

.news-section{
    display: flex;
   border-radius: 20px;
    justify-content: space-around;
    background-color: #FFFFFF;
}
.div2{
    padding-left: 30px;

}

.images{
    border-radius: 20px;
}
.time{
 opacity: 0.9 ;
 font-size: 14px;
}
.news-para{
    font-weight: 500;
    padding-top: 30px;
}

.btn-news{
    font-size: 18px;
    padding: 5px 12px;
    border-radius: 4px;
   margin-bottom: 30px;
  cursor: pointer;
  border: 1px solid white;
  font-weight: 600;
  background-color: #573815;
  color: #F5F5F5;
  transform: scale(0.9);
  transition: 0.2s ease-in;
}

.btn-news:hover{
    transform: scale(1.0);
    transition: 0.2s ease-in;
}